<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - BioProv - Provenance Web API</title>
</head>
<body>
    <h1>Hello, {{ user.nickname }}!</h1>
</body>
</html>